{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Footer</title>
</head>
<body>
    <!--footer-->
    <div class="container-fluid footer-developer" id="aboutus">
        <div class="row">
            <div class="col-md-12">
                <h6>Desarrollo Web y Mobile</h6>
                <hr>
                <ul>
                    <li>
                        Israel Defranchi
                    </li>
                    <li>
                        Cristian Perez
                    </li>
                    <li>
                        <i class="fab fa-linux"></i> Jahns Saez
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>