{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registro PWA</title>
</head>
<body>
    <!--galeria-->
    <div class="container-fluid container-galery">
        <div class="container container-galery-style">
            <div class="row">
                <div class="col-md-12">
                    <h4>Galeria de rescatados</h4>
                </div>
            </div>
            <div class="row galery-title">
                <div class="col-md-12">
                    <h4>Rescatados</h4>
                </div>
            </div>
            <div class="row galery-row" id="galeriaRescatados"></div>
            <div class="row galery-title">
                <div class="col-md-12">
                    <h4>Disponibles</h4>
                </div>
            </div>
            <div class="row galery-row" id="galeriaDisponibles"></div>
            <div class="row galery-title">
                <div class="col-md-12">
                    <h4>Adoptados</h4>
                </div>
            </div>
            <div class="row galery-row" id="galeriaAdoptados"></div>
        </div>
    </div>

    <div id="galeriaModal"></div>
</body>
</html>