{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Header</title>
</head>
<body>
    <div class="navbar navbar-dark bg-primary navbar-style-pwa" id="perris-navbar">
        <!--collapse-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--logo-->
        <a class="navbar-brand logo" href="{% url 'index' %}">
            <img src="{% static './img/etc/logo.png' %}" alt="error-logo">
        </a>

        <!--login-->
        <span class="navbar-text user-menu-title">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle username" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% for u in usuarios %}
                            {% ifequal request.user.username u.usuario %}
                                <img src="/media/{{u.avatar}}" alt="error-avatar" class="user-avatar" data-toggle="tooltip" data-placement="bottom" title="{{user}}">
                            {% endifequal %}
                        {% endfor %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-user-style" aria-labelledby="navbarDropdownMenuLink" id="perris-navbar-dropdown">
                        {% for u in usuarios %}
                            {% ifequal request.user.username u.usuario %}
                                {% ifequal u.provider "misperris" %}
                                    <a class="nav-link dropdown-item" href="{% url 'newpassword' %}"><i class="fas fa-key"></i> Cambiar contraseña</a>
                                {% else %}
                                    <a class="nav-link dropdown-item" href="/accounts/profile"><i class="fas fa-address-book"></i> Completar registro</a>
                                {% endifequal %}
                            {% endifequal %}
                        {% endfor %}
                        <a class="nav-link dropdown-item" href="{% url 'cerrar_sesion' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                    </div>
                </div>
            {% else %}
                <a class="nav-link username" href="{% url 'login' %}">
                    <i class="fas fa-sign-in-alt"></i> Login
                    <img src="/media/avatar/default.png" alt="error-avatar" class="user-avatar">
                </a>
            {% endif %}
        </span>

        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" id="index_pwa">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="registro_pwa">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="rescatados_pwa">Rescatados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="galeria_pwa">Galería</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>