{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--configuracion de la pagina-->
    {% include './include/styles.html' %}
</head>
<body>
    <!--header-->
    {% include './header.html' %}

    <!--login-->
    <div class="container-fluid login-background">
        <div class="container justify-content-center login-container">
            <div class="row">
                <div class="col-md-12">
                    <form action="{% url 'iniciar_sesion' %}" id="formulary-login" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Usuario</label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="Ingrese usuario">
                        </div>
                        <div class="form-group">
                            <label for="passwordlogin">Contraseña</label>
                            <input class="form-control" type="password" name="passwordlogin" id="passwordlogin" placeholder="Ingrese contraseña">
                        </div>
                        <div class="row button-login-container">
                            <div class="col-6 col-md-6">
                                <input type="reset" class="btn btn-warning btn-block" value="Limpiar">    
                            </div>
                            <div class="col-6 col-md-6">
                                <input type="submit" class="btn btn-success btn-block" value="Iniciar">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-primary btn-block" href="{% provider_login_url 'facebook' method='oauth2' %}">
                                <span class="fab fa-facebook"></span>
                                    Iniciar sesión con Facebook
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 rescue-password">
                                <a href="{% url 'newpassword' %}">Olvidé mi contraseña</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {% include './footer.html' %}

    <!--scripts-->
    {% include './include/scripts.html' %}
</body>
</html>