<!DOCTYPE html>
<html lang="en">
<head>
    <!--configuracion de la pagina-->
    {% include './include/styles.html' %}
</head>
<body>
    <!--header-->
    {% include './header.html' %}

    <!--login-->
    <div class="container-fluid login-background">
        <div class="container justify-content-center login-container">
            <div class="row">
                <div class="col-md-12">
                    {% if user.is_authenticated %}
                        <form action="{% url 'changepass' %}" id="formulary-password" method="post">
                            {% csrf_token %}
                            {% for u in usuarios %}
                                {% ifequal request.user.username u.usuario %}
                                    <h4>{{u.usuario}}</h4>
                                    <input type="hidden" name="username" id="username" value="{{u.usuario}}">
                                    <hr>
                                    <div class="form-group">
                                        <label for="pregunta">{{u.pregunta}}</label>
                                        <input class="form-control" type="text" name="respuesta" id="respuesta" placeholder="Ingrese respuesta">
                                    </div>
                                {% endifequal %}
                            {% endfor %}
                            <div class="form-group">
                                <label for="newpassword">Nueva contraseña</label>
                                <input class="form-control" type="password" name="newpassword" id="newpassword" placeholder="Ingrese contraseña">
                            </div>
                            <div class="form-group">
                                <label for="newrepassword">Confirme contraseña</label>
                                <input class="form-control" type="password" name="newrepassword" id="newrepassword" placeholder="Confirme contraseña">
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-6">
                                    <input type="reset" class="btn btn-warning btn-block" value="Limpiar">    
                                </div>
                                <div class="col-6 col-md-6">
                                    <input type="submit" class="btn btn-success btn-block" value="Cambiar">
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <form action="{% url 'newpassword_nolog' %}" id="formulary-password" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Usuario</label>
                                <input class="form-control" type="text" name="username" id="username" placeholder="Ingrese usuario">
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-6">
                                    <input type="reset" class="btn btn-warning btn-block" value="Limpiar">    
                                </div>
                                <div class="col-6 col-md-6">
                                    <input type="submit" class="btn btn-success btn-block" value="Cambiar">
                                </div>
                            </div>
                        </form>
                    {% endif %}             
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {% include './footer.html' %}

    <!--scripts-->
    {% include './include/scripts.html' %}
</body>
</html>