{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!--configuracion de la pagina-->
    {% include './include/styles.html' %}
    <link rel="manifest" href="{% static './json/manifest.json' %}">
</head>
<body id="bodyPwa">
    <!--barra de navegacion-->
    {% include './header_pwa.html' %}

    <!--cargar página-->
    {% if user.is_authenticated %}
        <input type="hidden" id="userAuth" value="true">
    {% else %}
        <input type="hidden" id="userAuth" value="false">
    {% endif %}

    <div id="pwa">
        <!--contenido-->
        <div class="container-fluid pwa-container" style="background: url('/static/img/pwa-background.jpg') no-repeat center center fixed; background-size: cover;"></div>
        <div class="container-fluid pwa-container-item">
            <div class="container pwa-content">
                <div class="row align-items-center">
                    <div class="col-md-10 mx-auto">
                        <div class="pwa-item">
                            <img src="{% static './img/etc/logo.png' %}" alt="error-logo">
                            <hr>
                            <p class="pwa-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sed aspernatur, perferendis, blanditiis distinctio mollitia dolorum est reiciendis eveniet optio explicabo labore cum quam omnis voluptatibus. Optio maxime molestias ab, qui numquam quibusdam nostrum beatae ipsa voluptatem itaque nam cumque voluptatibus excepturi corrupti porro illum possimus expedita perferendis, et sunt!</p>
                            <button class="btn btn-success" onclick="window.location.href = '/'">Volver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pwa-container" style="background: url('/static/img/pwa-background.jpg') no-repeat center center fixed; background-size: cover;"></div>
        <div class="container-fluid pwa-container-item">
            <div class="container pwa-card">
                <div class="card-columns">
                    <div class="card bg-primary">
                        <div class="card-body text-center">
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, rem!</p>
                        </div>
                    </div>
                    <div class="card bg-warning">
                        <div class="card-body text-center">
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, dolore!</p>
                        </div>
                    </div>
                    <div class="card bg-success">
                        <div class="card-body text-center">
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, officia?</p>
                        </div>
                    </div>
                    <div class="card bg-danger">
                        <div class="card-body text-center">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, aliquam.</p>
                        </div>
                    </div> 
                    <div class="card bg-light">
                        <div class="card-body text-center">
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, nostrum.</p>
                        </div>
                    </div>
                    <div class="card bg-info">
                        <div class="card-body text-center">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, aliquam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {% include './footer.html' %}

    <!--scripts-->
    {% include './include/scripts.html' %}

    <script>
        /*navigator.serviceWorker.getRegistrations().then(function(registrations) {
            for(let registration of registrations) {
                registration.unregister()
            }
        })*/

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
            });
        }
    </script>
</body>
</html>