{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--configuracion de la pagina-->
    {% include './include/styles.html' %}
</head>
{% if user.is_authenticated %}
    <body onload="rescatados()">
{% else %}
    <body onload="rescatados_nolog()">
{% endif %}
    <!--header-->
    {% include './header.html' %}

    <!--listado de rescatados-->
    <div class="container-rescued">
        <div class="container-fluid">
            <div class="container container-rescued-style">
                <h4>Rescatados</h4>
                <div id="message-delete-rescued"></div>
                <div class="row row-rescued-title">
                    <div class="col-md-1 col-rescued-style">
                        Id
                    </div>
                    <div class="col-md-2 col-rescued-style">
                        Fotografía
                    </div>
                    <div class="col-md-2 col-rescued-style">
                        Nombre
                    </div>
                    <div class="col-md-2 col-rescued-style">
                        Raza predominante
                    </div>
                    {% if user.is_superuser %}
                        <div class="col-md-2 col-rescued-style">
                            Descripción
                        </div>
                        <div class="col-md-1 col-rescued-style">
                            Estado
                        </div>
                        <div class="col-md-2 col-rescued-style">
                            Acciones
                        </div>
                    {% else %}
                        <div class="col-md-3 col-rescued-style">
                            Descripción
                        </div>
                        <div class="col-md-2 col-rescued-style">
                            Estado
                        </div>
                    {% endif %}
                </div>
                {% if user.is_superuser %}
                    <div id="rescatados"></div>
                    <div id="rescatados-delete"></div>
                {% else %}
                    <div id="rescatados"></div>
                {% endif %}
                {% if not user.is_superuser %}
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{% url 'galeria' %}" class="btn btn-danger btn-block">Ver galería completa</a> 
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    
        <!--formulario rescatados-->
        {% if user.is_superuser %}
            <div class="container-fluid" id="editar">
                <div class="container">
                    <form action="#" id="formulary-rescued" data-method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h4 class="form-title form-rescued-title" id="title-rescued">Mantenedor de rescatados</h4>
                        <div id="message-rescued"></div>
                        <div class="row">
                            <input type="hidden" id="action" value="post">
                            <input type="hidden" id="url">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="nombrerescued">Nombre</label>
                                    <input required class="form-control" type="text" name="nombrerescued" id="nombrerescued" onkeypress="return validarLetras(event)">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="raza">Raza predominante</label>
                                    <input required class="form-control" type="text" name="raza" id="raza" onkeypress="return validarLetras(event)">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="foto">Fotografía</label>
                                    <input required type="file" name="foto" id="foto">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="descripcion">Descripción</label>
                                    <textarea required class="form-control" name="descripcion" id="descripcion" cols="10" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="estado">Estado</label>
                                    <select name="estado" id="estado" class="form-control">
                                        <option hidden value="default">Seleccione estado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="buttons-rescued">
                            <div class="col-md-6">
                                <button class="btn btn-warning btn-block" type="reset">Limpiar</button>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-success btn-block" value="Guardar">
                            </div>
                        </div>
                        <div class="row d-none" id="buttons-editar-rescued">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-warning btn-block" type="reset">Limpiar</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-danger btn-block" onclick="cancelar_editar_rescatado()">Cancelar</button>
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-success btn-block" value="Editar">
                                <!--button type="button" class="btn btn-success btn-block" onclick="editar_rescued()">Editar</button-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    <!--footer-->
    {% include './footer.html' %}

    <!--scripts-->
    {% include './include/scripts.html' %}
</body>
</html>